@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wintaylor Desenvolvedor .NET</h1>
    <p class="lead">Este é um exemplo de aplicação que utiliza conceitos de arquiterura de software, procurei utilizar o máximo dos conceitos que sei, incluindo:
        <ul class="list-group">
            <li class="list-group-item">Injeção de Dependência (Ninject)</li>
            <li class="list-group-item">Mapper (AutoMapper)</li>
            <li class="list-group-item">Conceitos de Domain-Driven Design - DDD</li>
            <li class="list-group-item">Repositories e Services</li>
            <li class="list-group-item">Entity Framework 6</li>
            <li class="list-group-item">Inversion of Control</li>
            <li class="list-group-item">Projeto para API com WEB API - Deixei a estrutura pronta para implementação</li>
        </ul>
    </p>    
</div>